<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div>
    <div>
        <mat-toolbar class="blue-toolbar-background">
            <span class="app-title-left" (click)="navigateToHomePage()">
                <em class="material-icons app-icon">local_library</em>
                <span class="app-title">KMax</span>
            </span>
    
            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space"></span>
    
            <span class="app-title-right">
                <span class="user-title" *ngIf="loggedInUser()">{{getUserDetails()}}</span>
                <em class="material-icons user-icon" *ngIf="loggedInUser()" (click)="openDialog()">account_circle</em>
                <em class="material-icons user-icon" *ngIf="loggedInUser()" (click)="logout()">power_settings_new</em>
            </span>
        </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<ng4-loading-spinner [timeout]="70000" [loadingText]="'Loading...'"></ng4-loading-spinner>